/* SearchBar.css */

/* Container for the search bar */
.search-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    background-color: #f4f4f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    margin-bottom: 10px;
  }
  
  /* Input field styles */
  .search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 250px;
    outline: none;
    margin-right: 10px;
    transition: border 0.3s;
  }
  
  .search-input:focus {
    border: 1px solid #007bff;
  }
  
  .search-input::placeholder {
    color: #aaa;
  }
  
  /* Button styles */
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .search-button:focus {
    outline: none;
  }
  